<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>userId</key>
	<string>@pointer::_User</string>
	<key>displayName</key>
	<string>displayName</string>
	<key>isActive</key>
	<string>@boolean</string>
	<key>memberSince</key>
	<string>@date</string>
	<key>secondaryEmail</key>
	<string>secondaryEmailAddr</string>
	<key>primaryEmail</key>
	<string>primaryEmailAddr</string>
	<key>lastName</key>
	<string>lastName</string>
	<key>firstName</key>
	<string>firstName</string>
</dict>
</plist>
